* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  direction: rtl;
  font-family: 'Tajawal', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cairo', sans-serif;
  text-align: right; }

p {
  font-family: 'Tajawal', sans-serif;
  text-align: right;
  text-shadow: 0 0 0.01px rgba(0, 0, 0, 0.5); }

/* Style H2 */
h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
  background: #c7932d;
  border-right: 5px solid #333;
  color: #fff;
  padding: 7px 16px;
  width: 20%;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9); }
  @media (max-width: 575.98px) {
    h2 {
      font-size: 20px;
      width: 50%; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    h2 {
      font-size: 20px;
      width: 50%; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    h2 {
      font-size: 22px;
      width: 40%; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    h2 {
      font-size: 23px;
      width: 35%; } }

/* Navigation Bar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(51, 51, 51, 0.64);
  z-index: 9999;
  text-align: right; }
  @media (max-width: 575.98px) {
    .navbar {
      padding-top: 0; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
      padding-top: 0; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar {
      padding-top: 0; } }
  @media (max-width: 575.98px) {
    .navbar .navbar-collapse .navbar-nav {
      background-color: rgba(51, 51, 51, 0.74); } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .navbar .navbar-collapse .navbar-nav {
      background-color: rgba(51, 51, 51, 0.74); } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar .navbar-collapse .navbar-nav {
      background-color: rgba(51, 51, 51, 0.74); } }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    color: #f0f0f0;
    font-size: 15px;
    font-weight: 600;
    padding: 13px;
    -webkit-transition: .2s;
    transition: .2s;
    text-shadow: 0 0 3px #000; }
    @media (max-width: 575.98px) {
      .navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 13px; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 13px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 14px; } }
    .navbar .navbar-collapse .navbar-nav .nav-link:hover {
      color: #c7932d; }

.btn-question {
  position: fixed;
  top: 75%;
  left: 0;
  width: 150px;
  height: 40px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 7px 16px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  border: none;
  border-right: 7px solid #c7932d;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 999; }
  .btn-question:hover {
    color: #c7932d; }
  .btn-question:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

/* Craousel */
@media (max-width: 575.98px) {
  .carousel {
    height: 100% !important; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel {
    height: 100% !important; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel {
    height: 100% !important; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel {
    height: 100% !important; } }

.carousel .carousel-inner .carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 99; }

.carousel .carousel-inner .carousel-caption {
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 5px;
  height: auto;
  width: 700px;
  z-index: 999; }
  .carousel .carousel-inner .carousel-caption h4 {
    background-color: #c7932d;
    font-weight: 600;
    padding: 10px;
    width: 60%;
    border-radius: 2px;
    margin-bottom: 15px; }
  .carousel .carousel-inner .carousel-caption p {
    font-size: 18px;
    line-height: 30px; }

.carousel .carousel-control-prev, .carousel .carousel-control-next {
  z-index: 999; }

/* About Me */
.about-me {
  padding: 100px 30px;
  overflow: hidden; }
  .about-me h2 {
    font-weight: 600;
    width: 30%; }
    @media (max-width: 575.98px) {
      .about-me h2 {
        width: 50%; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .about-me h2 {
        width: 50%; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .about-me h2 {
        width: 40%; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .about-me h2 {
        width: 35%; } }
  .about-me p {
    font-size: 15px;
    line-height: 25px; }
    @media (max-width: 575.98px) {
      .about-me p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 50px; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .about-me p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 50px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .about-me p {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 30px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .about-me p {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 30px; } }
  .about-me .video {
    position: relative; }
    .about-me .video iframe {
      position: absolute;
      top: 45%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 88%;
      height: 70%; }

/* Wixcard */
.wixcard {
  padding: 100px 30px;
  background-color: rgba(51, 51, 51, 0.1);
  overflow: hidden; }
  .wixcard h2 {
    font-size: 22px;
    font-weight: 600;
    width: 30%; }
    @media (max-width: 575.98px) {
      .wixcard h2 {
        font-size: 17px;
        width: 85%; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .wixcard h2 {
        font-size: 19px;
        width: 60%; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .wixcard h2 {
        font-size: 20px;
        width: 50%; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .wixcard h2 {
        font-size: 20px;
        width: 40%; } }
  .wixcard p {
    font-size: 18px;
    line-height: 25px;
    width: 90%;
    margin-bottom: 80px; }
    @media (max-width: 575.98px) {
      .wixcard p {
        font-size: 14px; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .wixcard p {
        font-size: 15px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .wixcard p {
        font-size: 16px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .wixcard p {
        font-size: 17px; } }
  .wixcard h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 25%;
    text-shadow: 0 0 6px #000;
    text-align: center; }
    @media (max-width: 575.98px) {
      .wixcard h3 {
        font-size: 16px;
        width: 85%; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .wixcard h3 {
        font-size: 16px;
        width: 60%; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .wixcard h3 {
        font-size: 17px;
        width: 50%; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .wixcard h3 {
        font-size: 17px;
        width: 40%; } }
  .wixcard span {
    display: block;
    text-align: right;
    padding: 3px 10px;
    margin-bottom: 15px;
    padding-right: 20px;
    position: relative;
    font-size: 15px;
    text-shadow: 0 0 .05px #000; }
    @media (max-width: 575.98px) {
      .wixcard span {
        font-size: 13px; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .wixcard span {
        font-size: 13px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .wixcard span {
        font-size: 14px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .wixcard span {
        font-size: 14px; } }
    .wixcard span::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 15px;
      height: 1px;
      background: #c7932d; }

/* Section Model Question */
.modal {
  background-color: rgba(38, 38, 38, 0.7);
  z-index: 9999;
  padding: 50px 30px;
  text-align: right; }
  .modal .modal-dialog {
    max-width: 95%; }
    .modal .modal-dialog .modal-content {
      background-color: rgba(0, 0, 0, 0.4); }
      .modal .modal-dialog .modal-content .modal-header {
        border: none; }
        .modal .modal-dialog .modal-content .modal-header h5 {
          font-size: 18px;
          font-weight: 500;
          background: #c7932d;
          border-right: 5px solid #333;
          color: #fff;
          padding: 6px 20px;
          margin-top: 15px;
          width: 30%;
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.9); }
          @media (max-width: 575.98px) {
            .modal .modal-dialog .modal-content .modal-header h5 {
              font-size: 15px;
              width: 80%; } }
          @media (min-width: 576px) and (max-width: 767.98px) {
            .modal .modal-dialog .modal-content .modal-header h5 {
              font-size: 15px;
              width: 80%; } }
          @media (min-width: 768px) and (max-width: 991.98px) {
            .modal .modal-dialog .modal-content .modal-header h5 {
              font-size: 17px;
              width: 40%; } }
          @media (min-width: 992px) and (max-width: 1199.98px) {
            .modal .modal-dialog .modal-content .modal-header h5 {
              font-size: 19px;
              width: 35%; } }
        .modal .modal-dialog .modal-content .modal-header .close {
          padding: 0;
          margin: 15px;
          color: #fff; }
      .modal .modal-dialog .modal-content .modal-body .card {
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff; }
        .modal .modal-dialog .modal-content .modal-body .card .btn-link {
          color: #c7932d;
          text-decoration: none; }
          @media (max-width: 575.98px) {
            .modal .modal-dialog .modal-content .modal-body .card .btn-link {
              font-size: 13px; } }
          @media (min-width: 576px) and (max-width: 767.98px) {
            .modal .modal-dialog .modal-content .modal-body .card .btn-link {
              font-size: 13px; } }
          @media (min-width: 768px) and (max-width: 991.98px) {
            .modal .modal-dialog .modal-content .modal-body .card .btn-link {
              font-size: 14px; } }
          @media (min-width: 992px) and (max-width: 1199.98px) {
            .modal .modal-dialog .modal-content .modal-body .card .btn-link {
              font-size: 14px; } }
        .modal .modal-dialog .modal-content .modal-body .card .card-body {
          font-size: 14px;
          line-height: 30px;
          color: #dee2e6; }
          @media (max-width: 575.98px) {
            .modal .modal-dialog .modal-content .modal-body .card .card-body {
              font-size: 12px; } }
          @media (min-width: 576px) and (max-width: 767.98px) {
            .modal .modal-dialog .modal-content .modal-body .card .card-body {
              font-size: 12px; } }
          @media (min-width: 768px) and (max-width: 991.98px) {
            .modal .modal-dialog .modal-content .modal-body .card .card-body {
              font-size: 13px; } }
          @media (min-width: 992px) and (max-width: 1199.98px) {
            .modal .modal-dialog .modal-content .modal-body .card .card-body {
              font-size: 13px; } }

/* Our Clients */
.our-clinets {
  padding: 100px 30px;
  text-align: right; }
  .our-clinets h2 {
    margin-bottom: 90px; }
  .our-clinets .card {
    border: none;
    text-align: center; }
    .our-clinets .card .card-img-overlay {
      background-color: rgba(0, 0, 0, 0.65);
      width: 100%;
      height: 100%;
      opacity: 0;
      top: auto;
      left: auto;
      right: 0%;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      cursor: pointer;
      font-size: 30px;
      color: #fff;
      border-radius: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .our-clinets .card .card-img-overlay .card-title, .our-clinets .card .card-img-overlay .card-text {
        font-family: 'Cairo', sans-serif;
        text-align: center;
        color: #c7932d;
        margin: 0px;
        text-shadow: 0 0 3px #000;
        font-weight: 600; }
      .our-clinets .card .card-img-overlay .card-title {
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 10px; }
        @media (max-width: 575.98px) {
          .our-clinets .card .card-img-overlay .card-title {
            font-size: 12px; } }
        @media (min-width: 576px) and (max-width: 767.98px) {
          .our-clinets .card .card-img-overlay .card-title {
            font-size: 12px; } }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .our-clinets .card .card-img-overlay .card-title {
            font-size: 14px; } }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          .our-clinets .card .card-img-overlay .card-title {
            font-size: 16px; } }
      @media (max-width: 575.98px) {
        .our-clinets .card .card-img-overlay .card-text {
          font-size: 17px; } }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .our-clinets .card .card-img-overlay .card-text {
          font-size: 17px; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .our-clinets .card .card-img-overlay .card-text {
          font-size: 18px; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .our-clinets .card .card-img-overlay .card-text {
          font-size: 22px; } }
    .our-clinets .card:hover .card-img-overlay {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }

/* Contact Us */
.contact-us {
  padding: 100px 30px;
  background-color: rgba(51, 51, 51, 0.1);
  text-align: right; }
  .contact-us form .form-control {
    border-radius: 3px; }
    .contact-us form .form-control:focus {
      border-color: #c7932d;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(199, 147, 45, 0.25);
              box-shadow: 0 0 0 0.2rem rgba(199, 147, 45, 0.25); }
  .contact-us form button {
    background-color: #333;
    border-radius: 2px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
    padding: 5px 30px;
    -webkit-transition: .2s;
    transition: .2s; }
    .contact-us form button:hover {
      background-color: #c7932d;
      color: #ffffff; }

/* Google Map */
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%; }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%; }

/* Footer */
.footer {
  padding: 20px;
  background-color: #333;
  text-align: center; }
  .footer .navbar-nav {
    position: fixed;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999; }
    .footer .navbar-nav .nav-item {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 35px;
      background-color: #333;
      border-radius: 2px;
      margin: 10px;
      font-size: 25px;
      padding: 5px;
      -webkit-transition: .3s;
      transition: .3s;
      cursor: pointer; }
      @media (max-width: 575.98px) {
        .footer .navbar-nav .nav-item {
          font-size: 17px;
          width: 30px;
          height: 30px;
          line-height: 23px; } }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .footer .navbar-nav .nav-item {
          font-size: 17px;
          width: 30px;
          height: 30px;
          line-height: 23px; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .footer .navbar-nav .nav-item {
          font-size: 18px;
          width: 35px;
          height: 35px;
          line-height: 25px; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .footer .navbar-nav .nav-item {
          font-size: 19px;
          width: 40px;
          height: 40px;
          line-height: 28px; } }
      .footer .navbar-nav .nav-item:hover:nth-child(1) {
        background-color: #3b5999; }
      .footer .navbar-nav .nav-item:hover:nth-child(2) {
        background-color: #cd201f; }
      .footer .navbar-nav .nav-item:hover:nth-child(3) {
        background-color: #e4405f; }
      .footer .navbar-nav .nav-item:hover:nth-child(4) {
        background-color: #dd4b39; }
      .footer .navbar-nav .nav-item:hover:nth-child(5) {
        background-color: #25D366; }
      .footer .navbar-nav .nav-item a {
        color: #fff; }
  .footer .copyright {
    color: #fff;
    text-align: right;
    font-size: 14px; }
    @media (max-width: 575.98px) {
      .footer .copyright {
        font-size: 12px; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .footer .copyright {
        font-size: 12px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .footer .copyright {
        font-size: 13px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .footer .copyright {
        font-size: 13px; } }
  .footer .scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #c7932d;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    z-index: 999; }
    .footer .scroll-top:hover {
      padding-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
